
<div class="card" align="center">
    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
      <img
        src="assets/emoji-smiling.jpg"
        alt="Image not available" 
      />
      <a href="#!">
        <div class="mask" style="background-color: rgba(100, 100, 100, 0.15);"></div>
      </a>
    </div>
    <div class="card-body">
      <h5 class="card-title">User Card </h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk of the
        card's content.
      </p>
      <button class="btn btn-primary" (click)="logout()">Logout</button>
    </div>
  </div>
