<p>switch-map works!</p>
<h4>SwitchMap Ex-1:-  {{counter}}</h4>
<br>
<h4>SwitchMap Ex-2:- {{display}} </h4>
<span>----------------------------------------------------------</span>
<h3>Searching example</h3>
<label for="search">Search</label>
<input type="text" [formControl]="search">
<div style="display: flex;">
  <div>
    <h2>Array1</h2>
    <div *ngFor="let item of array1">
      <p>{{item}}</p>
    </div>
  </div>
  <div style="margin-left: 20px;">
    <h2>Array2</h2>
    <div *ngFor="let item of array2">
      <p>{{item}}</p>
    </div>
  </div>
</div>


