<h3>CDK Examples</h3>
<div>
    <li class="nav-item">
        <a routerLink="dragdrop" class="nav-link">Drag and Drop</a>
    </li>
    <li class="nav-item">
        <a routerLink="layout" class="nav-link">Layout</a>
    </li>
    <li class="nav-item">
        <a routerLink="overlay" class="nav-link">Overlay</a>
    </li>
    <li class="nav-item">
        <a routerLink="platform" class="nav-link">Platform</a>
    </li>
    <li class="nav-item">
        <a routerLink="portal" class="nav-link">Portal</a>
    </li>
    <li class="nav-item">
        <a routerLink="scrolling" class="nav-link">Scrolling</a>
    </li>
    <li class="nav-item">
        <a routerLink="table" class="nav-link">Table</a>
    </li>
    <li class="nav-item">
        <a routerLink="tree" class="nav-link">Tree</a>
    </li>
</div>



<router-outlet></router-outlet>