<h2 align="center">Examples</h2>

<div>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <a class = "navbar-brand"></a>
        <div class="navbar-nav mr-auto">
            <li>
                <a routerLink="use-fatory" class="nav-link">UseFactory</a>
            </li>
            <li class="nav-item">
                <a routerLink="customer" class="nav-link">customer</a>
            </li>
            <li class="nav-item">
                <a routerLink="interpolationEx" class="nav-link">Interpolation</a>
            </li>
            <li class="nav-item">
                <a routerLink="parentchild" class="nav-link">parentchild</a>
            </li>
            <li class="nav-item">
                <a routerLink="switch" class="nav-link">switch</a>
            </li>
            <li class="nav-item">
                <a routerLink="routing" class="nav-link">routing</a>
            </li>
            <li class="nav-item">
                <a routerLink="observe" class="nav-link">ObserveExp</a>
            </li>
            <li class="nav-item">
                <a routerLink="examplerxjs" class="nav-link">Rxjs</a>
            </li>   
           
            <li class="nav-item">
                <a routerLink="employee-detail" class="nav-link">Employees</a>
            </li>  
            <li class="nav-item">
                <a routerLink="exampleForkjoin" class="nav-link">ForkJoin</a>
            </li> 
            <li class="nav-item">
                <a routerLink="Bank-Details" class="nav-link">Bank Detail</a>
            </li>
            <li>
                <a routerLink="exampleDOMRender" class="nav-link">DOM</a>
            </li>
            <li>
                <a routerLink="template" class="nav-link">Template</a>
            </li>
            <li>
                <a routerLink="use-class" class="nav-link">Useclass</a>
            </li>
            <li>
                <a routerLink="use-existing" class="nav-link">UseExisting</a>
            </li>
            <li>
                <a routerLink="use-value" class="nav-link">UseValue</a>
            </li>
            <li>
                <a routerLink="ViewContainerRef" class="nav-link">View Container</a>
            </li>
        </div>
    </nav>
</div>
<router-outlet></router-outlet>

