<h2>Add update delete the list</h2>
<form>
    <div class="form-group">
        <label for="fruitName">Fruit Name:</label>
        <input [(ngModel)]="fruitName" type="text" required name="Name" class="form-control" />

    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit" (click)="onSubmit(value)">Submit</button>
    </div>
</form>
<p></p>
<div class="table-responsive">
    <table>
        <thead>
            <tr>
                <th class="tableHead">Name of fruits</th>
            </tr>
        </thead>
        <p></p>
        <tbody>
            <tr *ngFor="let row of fruitName">
                <td>{{fruitName.value}}</td>
        </tbody>
    </table>
</div>


<h2>Array List </h2>
{{ myarr }}

<!-- Increment and Decrement value on click event -->
<h2>Increment or Decrement value</h2>
Value = {{ Counter }}
<p></p>
<button (click)="increment()">Increment</button>
<button (click)="decrement()">Decrement</button>

<h2>Add or Remove number </h2>
{{ value }}
<!-- Add or remove the number by using button -->
<button (click)="add()">Add value</button>
<button (click)="remove()">Remove Value</button>

<p></p>
<!-- Show array -->
<h3>Parent</h3>
{{employee}}

<h3>Child1</h3>
<app-child1 [customerDetails]="customer" (passData)="onGetArraylist($event)"></app-child1>
<p></p>
<!-- //(messageEvent) = "receivedMessage($event)" -->


<!-- https://stackblitz.com/edit/angular-forms-tdf?file=src%2Fapp%2Fapp.component.ts 
https://www.devglan.com/angular/angular-8-crud-example-->

<!-- <div *ngFor = "let row of data" >
       <ul [ngSwitch] = "data"> :
           <span>{{data}}</span>
       
        </ul>
</div>       -->
<h2>This is my original array</h2>
<div>
    <ul *ngFor="let item of data">
        <li>{{item.id}}</li>
        <li>{{item.name}}</li>
        <li>{{item.currency}}</li>
    </ul>
</div>

<h2>This is my filtered array</h2>
<div>
    <!-- <ng-container *ngFor="let row of data"> -->
    <table>
        <thead>
            <tr>
                <th>Sr. No</th>
                <th>Currency Name</th>
                <th>Currency</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let row of data; let i =index">
                <tr>
                    <ng-container [ngSwitch]="row.currency">
                        <ng-container *ngSwitchCase="'INR'">
                            <td>{{i + 1}}</td>
                            <td>{{row.name}}</td>
                            <td>{{row.currency}}</td>
                        </ng-container>
                    </ng-container>
                </tr>
            </ng-container>
        </tbody>


    </table>
    <!-- </ng-container> -->
</div>
<!-- <div [ngSwitch]="data.length+1">
    <p *ngSwitchCase="1">One</p>
    <p *ngSwitchCase="1">two</p>
    <p *ngSwitchCase="1">three</p>
    <p *ngSwitchCase="4">four</p>
    <p *ngSwitchDefault>Default</p> 
    </div> -->

<div [ngClass]="flag? 'primary':'secondary'">
    <h2>Text</h2>
</div>
<button (click)="flag = !flag">Click here</button>
<!-- <app-child1 (childevent)= "receivedMessageparent($event)"></app-child1> -->
<!-- <h2>
    <span> Parent component</span> 
</h2>
<button *ngIf= "data" (click)= "onClick(value)">On Change</button>
<pre></pre>
<app-child1  [showDetails]= "Value"></app-child1>
 -->