<p>crud works!</p>
<head>Registration form</head>
<div>
    <form class="signup-form" action="/register" method="POST">
        <div class="form-header">
            <h1>Create Account</h1>
        </div>
        <div class="form-body">

        </div>
        <div class="form-footer">

        </div>
    </form>
</div>
<div class="form-body">
    <div class="col-md-6">
        <div>
            <label for="firstname" class="label-title">Employee name :</label>
            <input type="text" id="firstname" class="form-input" required="required" />
        </div>
        <p></p>
        <div>
            <label for="lastname" class="label-title">Last name :</label>
            <input type="text" id="lastname" class="form-input"  />
        </div>
        <div>
            <button type="Save" (click)= "onCreateEmp($event)" class="btn" >Save</button>
        </div>
        <p></p>
        <div class="col-md-6">
            <table>
                <thead>
                    <th>Employee Name</th>
                    <th></th> <th></th>
                    <th>Employee Designation</th>
            </thead>
            </table>
        </div>
    </div>

    
</div>